---
import PokemonCard from "@/components/pokemons/PokemonCard.astro"
import Title from "@/components/shared/Title.astro"
import MainLayout from "@/layout/MainLayout.astro"
import type { PokemonListResponse } from "@/types/pokemon-list-response"

const title = "Pokémon Static | Home"

const res = await fetch("https://pokeapi.co/api/v2/pokemon")
const data = (await res.json()) as PokemonListResponse
---

<MainLayout
  title={title}
  description="Listado de pokémons de la primera generación de la franquicia Pokémon en una página estática."
>
  <Title>Listado de Pokémons</Title>

  <section
    aria-label="Listado de Pokémon"
    class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-3 gap-4 mt-5"
  >
    {
      data.results.map((pokemon) => (
        <PokemonCard
          name={pokemon.name}
          url={pokemon.url}
        />
      ))
    }
  </section>
</MainLayout>
